/* body {
	padding:10px;
} */
/* *{
  box-sizing: inherit;
}
html{
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
} */
body{
  width: 100%;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}
article {
	columns: 4;
  padding: 10px;
}
section {
	margin-bottom: 15px;
  /* margin-right: ; */
}
.images img{
 	width:  100%; 
 	/* box-shadow: 0px 0px 5px 0px #5a5a5a; */
}	

#logo{
  font-family: 'Rancho', cursive;
  font-size: 28px;
}
#cover{
  background: url("../img/slider2.jpg") top center / cover no-repeat;
  min-height: 500px;
  
}
#about{
  min-height: 500px;

}
#login{
  font-family: 'Rancho', cursive;
  font-size: 56px;
}
.start-cus{
  left: 200px;
}
.font-spec{
  font-family: 'Satisfy', cursive;
  font-size: 40px;
}
#hover-img{
  padding-top: 40px;
  margin-top: 42px;
  
}
.about-section{
  columns: 2;
}
.contact-info{
  list-style-type: none;
}
/* .images:hover{
  transform: scale(1.1);
} */
@media(max-width: 739px){
  article{
    columns:1;
  }
  .about-section{
    columns: 1;
  }
}

@media(min-width: 740px) and (max-width:1023px){
  article{
    columns: 2;
  }
  .about-section{
    columns: 1;
  }
}
/* 
.modal{
  z-index: 1000;
}

#exampleModal{
  z-index: 100 !important;
} */