@media (min-width: 1024px){
  #header .mobile-menu-btn{
    display:none;
  }
}

/* Table and mobile */
@media (max-width: 1023px){
  /* .s-mt-8{
    margin-top: 8px;
  } */
  .btn{
    padding: 15px 16px;
  }
  .contact-form .form-control{
    padding: 15px;
  }
  .contact-info{
    line-height: 2.0;
  }
  .social-list{
    font-size: 48px;
  }
  #footer .social-list a{
    margin: 0 8px;
  }
  #footer .copyright{
    padding: 12px 0;
    display: inline-block; 
  }
  #nav .sub-nav li a{
    padding: 5px 12px;
  }
}
/* Tablet >=740 && <1024 */
@media (min-width: 740px) and (max-width:1024px){
  #header .mobile-menu-btn{
    display:none;
  }
}

/* Mobile responsive */
@media (max-width: 739px){
  .col-full,
  .s-full-width{
    width: 100%;
  }
  .s-mt-8{
    margin-top: 8px;;
  }
  #header{
    overflow: hidden;
  }
  #nav {
    /* width: 100%; */
    display: block;
  }
  #nav > li > a{
    padding: 1px 24px;
  }
  #nav .sub-nav{
    position: initial;
    background-color: #000;
  }
  #nav .sub-nav a{
    
  }
  #nav .sub-nav li a{
    color: white;
    padding: 5px 36px;
    /* Luc dau chua de display:block nen xay ra loi */
    display: block;
  }
  
  #nav > li:first-child{
    display: inline-block;
    /* width: 80%; */
  }
  #nav > li {
    display: block;
    background-color: #000;    
  }
  #nav > li > a{
    display: inline-block;
  }
  #header .search-btn{
    display: none;
  }
  #header .mobile-menu-btn{
    position: absolute;
    right: 0;
    top: 0;
  }
  #content .member-item-responsive{
    margin-top: 30px;
    width: 100%;
  }
  #content .member-image{
    width: 60%;
  }
  .contact-form{
    margin-top: 8px;
  }
}