/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    
}
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* ----------------------------------- */

#nav, .sub-nav{
    list-style-type: none;
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    text-decoration: none;
    color: white;
    padding: 0 24px;
    line-height: 46px;
    /* display: inline-block; */
    text-transform: uppercase;
}

#nav > li:hover > a{
    background-color: white;
    color: black;
    display: inline-block;
}

#nav > li:hover .sub-nav{
    display: block;
}
/* ----------------------------------- */
#nav .sub-nav{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
    top: 100%;
}

#nav .sub-nav li{
    /* display: block; */
    /* Mac dinh list hien thi theo chieu doc */
}

#nav .sub-nav li a{
    text-decoration: none;
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

#nav .sub-nav li:hover a{
    background-color: #ccc;
    display: block;
}
/* -------------------------------- */
#nav .nav-arrow-down{
    font-size: 12px;
}
/* ----------------------------------- */
#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover{
    background-color: red;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    margin-top: 46px;
    /* width: 100%; khong can vi div display =block*/ 
    padding-top: 42.3%;
    /* 50% chieu ngang cua chinh no */
    /* background-image: url('../img/banner.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat; */
    background: url('../img/banner.png') top center / cover no-repeat;
}
#content{
    min-height: 1000px;
    background-color: #ccc;
}
#footer{

}